{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Mosquitto MQTT broker ({{ mosquitto_identifier }})
{% for service in mosquitto_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in mosquitto_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ mosquitto_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mosquitto_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ mosquitto_identifier }} \
      --log-driver=none \
      --user={{ mosquitto_uid }}:{{ mosquitto_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ mosquitto_container_network }} \
      {% if mosquitto_container_mqtt_host_bind_port %}
      -p {{ mosquitto_container_mqtt_host_bind_port }}:{{ mosquitto_container_mqtt_port }} \
      {% endif %}
      --env-file={{ mosquitto_base_path }}/env \
      --tmpfs=/tmp:rw,noexec,nosuid,size=100m \
      --mount type=bind,src={{ mosquitto_config_path }},dst=/mosquitto/config/ \
      {% for arg in mosquitto_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ mosquitto_container_image }}

{% for network in mosquitto_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ mosquitto_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ mosquitto_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ mosquitto_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mosquitto_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ mosquitto_identifier }}

[Install]
WantedBy=multi-user.target
