{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Tiz
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if mosquitto_container_labels_traefik_tcp_enabled %}
traefik.enable=true

{% if mosquitto_container_labels_traefik_tcp_docker_network %}
traefik.docker.network={{ mosquitto_container_labels_traefik_tcp_docker_network }}
{% endif %}

traefik.tcp.routers.{{ mosquitto_identifier }}.rule={{ mosquitto_container_labels_traefik_tcp_rule }}
{% if mosquitto_container_labels_traefik_tcp_priority | int > 0 %}
traefik.tcp.routers.{{ mosquitto_identifier }}.priority={{ mosquitto_container_labels_traefik_tcp_priority }}
{% endif %}
traefik.tcp.routers.{{ mosquitto_identifier }}.service={{ mosquitto_identifier }}
traefik.tcp.routers.{{ mosquitto_identifier }}.entrypoints={{ mosquitto_container_labels_traefik_tcp_entrypoints }}
traefik.tcp.routers.{{ mosquitto_identifier }}.tls={{ mosquitto_container_labels_traefik_tcp_tls | to_json }}
{% if mosquitto_container_labels_traefik_tcp_tls %}
traefik.tcp.routers.{{ mosquitto_identifier }}.tls.certResolver={{ mosquitto_container_labels_traefik_tcp_tls_certResolver }}
{% endif %}

traefik.tcp.services.{{ mosquitto_identifier }}.loadbalancer.server.port={{ mosquitto_container_tcp_port }}

traefik.tcp.services.{{ mosquitto_identifier }}.loadbalancer.serversTransport={{ mosquitto_container_labels_traefik_tcp_loadbalancer_serverstransport }}
{% endif %}

{% for arg in mosquitto_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
