{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr

SPDX-License-Identifier: AGPL-3.0-or-later
#}

listener 1883

{% if mosquitto_allow_anonymous_access %}
allow_anonymous true
{% endif %}

{% if mosquitto_use_password_file %}
password_file {{ mosquitto_container_password_file_location }}
{% endif %}
